GROQ_API_KEY="gsk_1O......"
WHISPER_MODEL=large-v3          # for testing now I'm using tiny 
CNN_MODEL_PATH=models/olive_cnn.pth
FAISS_INDEX_PATH=corpus/index.faiss
SIMILARITY_THRESHOLD=0.42
TTS_VOICE=ar-TN-ReemNeural      # Tunisian Arabic voicea